{% extends "base.html" %}

{% block main %}
    <div class="product-page">
        <div class="product-page-action">
            <div class="product-page-action-box">
                <a href="{% url "index" %}" class="icon">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>

                <a href="{% url "update_product" product.id %}" class="icon">
                    <i class="fa-solid fa-file-pen"></i>
                </a>

                <a href="{% url "delete_product" product.id %}" class="icon">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        </div>
        <div class="product-page-content">
            <div class="product-info-box">
                <div class="product-info">
                    <h3 class="product-name">
                        {{product.name}}
                    </h3>
                    <p class="product-price"> 
                        $ {{ product.price }}
                    </p>
                </div>
                <p class="product-added-date">
                    Added at: {{ product.added_at }}
                </p>
            </div>
            <div class="product-description">
                {{product.description|safe}}
            </div>
        </div>
    </div>
{% endblock main %}