{% extends "base.html" %}

{% block head %}
    {{ form.media }}
{% endblock head %}

{% block main %}
<form method='POST' class="form">
    {% csrf_token %}
    <h2 class="form-title">{{title}}</h2>
    <div class="form-field">
        <label class="form-label" for="productNameId">Product Name</label>
        {{ form.name }}
    </div>

    <div class="form-field">
        <label class="form-label" for="productPriceId">Price</label>
        {{ form.price }}
    </div>

    <div class="form-field">
        <label class="form-label">Description</label>
        {{form.description|safe}}
    </div>
    <div class="form-submit-btn-box">
        <button class="form-submit-btn">{{button_text}}</button>
    </div>
</form>
{% endblock main %}