{% extends "base.html" %}

{% block head %}
    {{ form.media }}
{% endblock head %}

{% block main %}
<form method='POST' class="form">
    {% csrf_token %}
    <div class="form-field">
        <label class="form-label" for="productNameId">Product Name:</label>
        {{ form.name }}
    </div>

    <div class="form-field">
        <label class="form-label" for="productPriceId">Price:</label>
        {{ form.price }}
    </div>

    <div class="form-field">
        <label class="form-label">Description</label>
        {{form.description|safe}}
    </div>
    <div>
        <button class="form-submit-btn">Save</button>
    </div>
</form>
{% endblock main %}