{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="main-page">
    {% if products %}
        {% for product in products %}
            <a href="{% url "product" product.id %}" >
            <div class="product">
                <div>
                    {{product.name}}
                </div>
                <div class="product-customize-box">
                    <a href="{% url "update_product" product.id %}" class="product-update-icon">
                        <i class="fa-solid fa-file-pen"></i>
                    </a>
                    <a href="{% url "update_product" product.id %}" class="product-delete-icon">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
            </a>
        {% endfor %}
    {% else %}
        <div class="oops-box">
            <img src="{% static 'images/oops.webp' %}" class="oops-image"/>
                <p class="oops-text">
                    Ooops! You don't have any product instance to view.
                </p>
        </div>
    {% endif %}

    <a href="{% url "create_product" %}" class="create-button">
        <p class="create-text">
            Add a new Product
        </p>
        <i class="fa-solid fa-plus" class="plus-icon"></i>
    </a>
            
</div>
{% endblock main %}

